<div id="infoBox">
    <p>
        The data used in this application is obtained from <a href="https://www.mongodb.com/developer/article/johns-hopkins-university-covid-19-rest-api/#:~:text=MongoDB%20COVID%2D19%20Open%20Data%20project">MongoDB COVID-19 Open Data</a> project using the dataset from <a href="https://github.com/CSSEGISandData/COVID-19/">Johns Hopkins University</a> (JHU).
    </p>
    <p>
        The chart has been developed using <a href="https://github.com/swimlane/ngx-charts">NGX-Charts</a>, a free visualization library for Angular that is based on <a href="https://d3js.org/">D3.js</a>.
    </p>
    <p>
        UI components have been taken from Angular's <a href="https://material.angular.io/">Material</a> library.
    </p>
    <p>
        For inquiries, please contact me <a href="mailto:sokmena@bu.edu">here</a>.
    </p>
</div>