
<br>
<div class="center">
<table id="tableSection" class="center">
    <tr>
        <th>
            <form>
                Type a country:
                <mat-form-field>
                    <input type="text" name="ctr" [(ngModel)]="country" (ngModelChange)="loadChart()" matInput [matAutocomplete]="auto" [formControl]="control" [value]="country">
                    <mat-autocomplete #auto="matAutocomplete" >
                        <mat-option [value]="country" *ngFor="let country of filteredCountries | async" >
                            {{country}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>
        </th>
        <th>
            Show:
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="selector" (ngModelChange)="loadChart()" [disabled]="countryNotValid()">
                <mat-button-toggle value="cases">Cases</mat-button-toggle>
                <mat-button-toggle value="deaths">Deaths</mat-button-toggle>
            </mat-button-toggle-group>
        </th>
        <th>
            Period:
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="chartPeriod" (ngModelChange)="setStartDate()" [disabled]="countryNotValid()">
                <mat-button-toggle value="30">1 Month</mat-button-toggle>
                <mat-button-toggle value="180">6 Months</mat-button-toggle>
                <mat-button-toggle value="365">1 Year</mat-button-toggle>
                <mat-button-toggle [value]="maxPeriod">Max</mat-button-toggle>
            </mat-button-toggle-group>
        </th>
    </tr>
    <tr>
        <td colspan="3">
            <ngx-charts-line-chart 
            [view]="[1000,500]"
            [results]="chartData"
            [xScaleMin]="startDate"
            [xScaleMax]="endDate"
            [yScaleMax]="getYScaleMax()"
            [xAxisLabel]="'date'"
            [legend]="true"
            [legendTitle]="'Legend'"
            [legendPosition]="'right'"
            [yAxisLabel]="selector"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [xAxisTickFormatting]="chartDateFormatting"
            [timeline]="false"
            [xAxis]="true"
            [yAxis]="true"
            [autoScale]="false"
            [curve]="curve"
            [gradient]="true"
            [scheme]="colorScheme">
            </ngx-charts-line-chart>
        </td>
    </tr>
</table>
</div>